<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="ngx-linkifyjs logo" class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>ngx-linkifyjs</h1>
        <p>Angular V6 wrapper for linkifyjs - library for finding links in plain text and converting them to HTML &lt;a&gt;
          tags via linkifyjs</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/anthonynahas/ngx-linkifyjs"
             target="_blank"><i class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
          <a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i
            class="fa fa-bolt fa-lg"></i> Edit on StackBlitz</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container">

    <div class="row">
      <div class="card mx-auto col-12 col-xl-9" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">Linkify some HTML via Service</h5>
          <ngb-tabset>
            <ngb-tab title="Example">
              <ng-template ngbTabContent>
                <p class="card-text" [innerHTML]="example1"></p>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>HTML</ng-template>
              <ng-template ngbTabContent>
                <markdown src="assets/md/e1/html.md"></markdown>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>TS</ng-template>
              <ng-template ngbTabContent>
                <markdown src="assets/md/e1/ts.md"></markdown>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <button class="btn btn-primary mt-2" (click)="this.example1 = this.linkifyService.linkify(this.example1)">
            Linkify
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card mx-auto mt-5 col-12 col-xl-9" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">Custom</h5>
          <div class="form-group">
            <label for="customTextFormControlTextarea">check your text with ngx-linkifyjs</label>
            <textarea #textAreaExample2 class="form-control" id="customTextFormControlTextarea" rows="4">
            Put you content here to test it with ngx-linkifyjs, e.g: https://github.com/AnthonyNahas
          </textarea>

            <div class="card mt-3">
              <div class="card-body" [innerHTML]="example2">
              </div>
            </div>
          </div>

          <button class="btn btn-primary" (click)="this.example2 = this.linkifyService.linkify(textAreaExample2.value)">
            Linkify
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card mx-auto mt-5 col-12 col-xl-9" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">Linkify a link via Pipe</h5>
          <markdown src="assets/md/pipe/html.md"></markdown>
          <span
            [innerHTML]="'Linkify the following URL: https://github.com/anthonynahas/ngx-linkifyjs and share it <3' | linkify">
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card mx-auto mt-5 col-12 col-xl-9" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">Find links via Service</h5>

          <markdown src="assets/md/service/e3/ts.md"></markdown>

          <div class="input-group mb-3">
            <input #inputLinksToFind type="text" class="form-control" placeholder="Put your links here to be found"
                   aria-label="Put your links here to be found" aria-describedby="button-addon2"
                   value="github.com as link and anthony.na@hotmail.de as email"
                   (change)="this.foundLinks = this.linkifyService.find(inputLinksToFind.value)">
            <div class="input-group-append">
              <button class="btn btn-primary btn-outline-secondary" type="button" id="button-addon2"
                      (click)="this.foundLinks = this.linkifyService.find(inputLinksToFind.value)">Find
              </button>
            </div>
          </div>

          <div class="card mt-2">
            <div class="card-body">
              <div *ngIf="foundLinks.length > 0; then showLinks else alert"></div>
              <ng-template #showLinks>
                <div *ngFor="let link of foundLinks" [innerHTML]="link  | json"></div>
              </ng-template>
              <ng-template #alert>
                <div class="alert alert-info" role="alert">
                  Press find to see the links returned from the service or enter your favorite link
                </div>
              </ng-template>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="card mx-auto mt-5 col-12 col-xl-9" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title">Test links via Service</h5>

          <markdown src="assets/md/service/e4/ts.md"></markdown>

          <div class="input-group mb-3">
            <input #inputLinksToTest type="text" class="form-control" placeholder="Put your links here to be tested"
                   aria-label="Put your links here to be tested" aria-describedby="button-addon3"
                   value="github.com">
            <div class="input-group-append">
              <button class="btn btn-primary btn-outline-secondary" type="button" id="button-addon3"
                      (change)="this.testLinkResult = this.linkifyService.test(inputLinksToTest.value)"
                      (click)="this.testLinkResult = this.linkifyService.test(inputLinksToTest.value);
                       this.testLinkRequested = true">Test
              </button>
            </div>
          </div>

          <div class="card mt-2">
            <div class="card-body">
              <div>{{testLinkResult}}</div>
              <div *ngIf="!testLinkRequested" class="alert alert-info" role="alert">
                Press the test button to test the link
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <p>Happy ng-hacking!</p>
  </div>
</section>
